*~
[#]*[#]
*[#]
/elpa/*
/yas/*
.org-id-locations
.python-environments/*
deeper-blue-theme.el
ido.last
history
srecode-map.el
tutorial/*
backups
/url/
/var/
/semanticdb/
recentf
places
irony
company-statistics-cache.el
ac-comphist.dat
/server
projectile-bookmarks.eld
bookmarks
projectile.cache
