*[#]
*~
[#]*[#]

.mc-lists.el
.org-id-locations
.python-environments/*

/elpa/*
/org-gcal/
/semanticdb/
/server
/url/
/var/
/yas/*
ac-comphist.dat
backups
bookmarks
company-statistics-cache.el
history
ido.last
irony
oauth2.plstore
places
projectile-bookmarks.eld
projectile.cache
recentf
smex-items
srecode-map.el
tutorial/*
ede-projects.el
README.html
